<article class="edit-blog">
    <a href="/dashboard"> &ShortLeftArrow; Back to {{blog.user.username}}'s dashboard</a>
    <h2>
        Edit Blog
    </h2>
    <form class="edit-blog-form">
        <div>
            <input type="text" name="blog-title" id="blog-title" value="{{blog.title}}" />
        </div>
        <div>
            <textarea id="blog-text" placeholder="Enter your blog contents here">{{blog.blog_post}}</textarea>
        </div>
        <button type="submit" class="btn">Save Blog</button>
        <br />
        <button class="delete-blog del-btn btn">Delete Blog</button>
    </form>
</article>


<script src="/javascript/edit-blog.js"></script>
<script src="/javascript/delete-blog.js"></script>