<div class="container">
    <div class="row">
        <form class="col-lg-6 login-form">
            <div class="div-sep">
                <h3>Login</h3>
            </div>
            <div class="div-sep">
                <label for="email-login">Email:</label>
                <input type="text" id="email-login" class="login-input" />
            </div>
            <div class="div-sep">
                <label for="password-login">Password:</label>
                <input type="password" id="password-login" class="login-input" />
            </div>
            <div class="div-sep">
                <button type="submit" class="sub-btn">Login</button>
            </div>
        </form>

        <form class="col-lg-6 signup-form">
            <div class="div-sep">
                <h3>Signup</h3>
            </div>
            <div class="div-sep">
                <label for="username-signup">Username:</label>
                <input type="text" id="username-signup" class="login-input" />
            </div>
            <div class="div-sep">
                <label for="email-signup">Email:</label>
                <input type="text" id="email-signup" class="login-input" />
            </div>
            <div class="div-sep">
                <label for="password-signup">Password:</label>
                <input type="password" id="password-signup" class="login-input" />
            </div>
            <div class="div-sep">
                <button type="submit" class="sub-btn">Signup</button>
            </div>
        </form>
    </div>
</div>
<script src="/javascript/login.js"></script>